.button {
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1.3rem;
  font-weight: 600;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  &.primary-button {
    background-color: #421af2;
    color: whitesmoke;
  }

  &:active {
    transform: scale(0.9);
  }
}
